@use '../../Global.scss';

.order{
    display: flex;
    color: #fff;
    margin-bottom: 5rem;
    // left side with filters
    aside{
        background-color: Global.$primary-color;
        position: sticky;
        top: 5rem;
        padding: 2rem;
        width: 7rem;
        height: 20rem;
        z-index: 1;
    }
    // product part
    .products{
        color: #000;
        padding-left: 1rem;
        min-width: 70vw;
        min-height: 80vh;
        h2{
            margin: 1rem auto;
            text-align: center;
            font-size: 2rem;
        }
        .list{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
            gap: 1rem;
            .loader{
                padding-left: 25rem;
            }
        }
      
    }
}


@media screen and (max-width: 1000px){
    .order{
        aside{
            width: 7rem;
            padding: 2rem 0rem 2rem 1rem;
        }
        .products{
            padding-left: 8.5rem;
        }
    }
}

@media screen and (max-width: 800px){
    .order{
        flex-direction: column;
        margin-bottom: 2rem;
        aside{
            display: flex;
            position: sticky;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            gap: 2rem;
            padding: 0;
            width: 100%;
            height: 15vh;
            top: 12rem;
        .pizza-filters, .drinks-filters{
            display: flex;
            align-items: center;
            margin-top: 2rem;
            gap: 1rem;
            padding-bottom: 1rem;
            h3{
                padding-bottom: 1rem;
            }
        }
        }
        .products{
            padding-left: 0.5rem;
            padding-top: 1rem;
            .list{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(12rem, 0.5fr));
                gap: 1rem;
            }
        }
    }
}